/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
backup.zip
.git.zip
error_log
*.zip
public/dashboard_assets/js/pages/leaflet-map.init.js
public/dashboard_assets/
